# Django Settings
DEBUG=False
SECRET_KEY=your-super-secret-production-key
ALLOWED_HOSTS=your-api-domain.com,another-domain.com

# Database (PostgreSQL)
# DATABASE_URL=postgres://user:password@host:port/dbname
DATABASE_URL=

# Frontend URL (for CORS/CSRF)
FRONTEND_URL=https://your-frontend-domain.com

# JWT Configuration
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7
JWT_SECRET_KEY=your-jwt-secret-key

# social-auth-google
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=your-google-client-id
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=your-google-client-secret

# SendGrid Configuration
SENDGRID_API_KEY=your-sendgrid-api-key
SENDGRID_FROM_EMAIL=info@yourdomain.com

# Admin OTP Settings
OTP_EXPIRY_MINUTES=5
OTP_ATTEMPTS_ALLOWED=3
