@import "tailwindcss";

@layer base {
  :root {
    --background: 210 40% 98%; /* Light Slate */
    --primary: 243 75% 59%;    /* Indigo */
  }
  
  body {
    @apply bg-[#F1F5F9] text-slate-900 antialiased;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

/* Custom smooth scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}